<!-- ======= Header ======= -->
<header
  id="header"
  class="d-flex align-items-center sticky-top"
  [ngClass]="{ shadow: isScrolled }"
>
  <div
    class="ms-5 me-5 d-flex align-items-center justify-content-between w-100"
  >
    <div class="d-flex align-items-center">
      <!-- Logo -->
      <a href="#" class="logo me-2 d-none">
        <img src="../../../../assets/images/adaptive-icon.png" alt="" />
      </a>

      <!-- Title -->
      <span class="fw-bold fs-4 text-secondary-dark me-3">INSTITUTE</span>
    </div>

    <div id="navbar" class="navbar shadow-none">
      <ul class=" ">
        <li class="p-0">
          <!-- search bar -->
          <div class="w-100 container-fluid">
            <div class="row">
              <div class="col-9" style="height: 56px !important">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput ngModel placeholder="Rechercher" />
                </mat-form-field>
              </div>

              <div class="col-3">
                <button
                  mat-icon-button
                  style="height: 56px !important"
                  class="bg-light"
                >
                  <mat-icon matPrefix class="text-secondary">search</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active-link"
            class="nav-link text-secondary"
            >Accueil</a
          >
        </li>
        <li>
          <a
            routerLink="/cours"
            routerLinkActive="active-link"
            class="nav-link text-secondary"
            href="#"
            >Cours</a
          >
        </li>
        <li>
          <a
            routerLink="/domaines"
            routerLinkActive="active-link"
            class="nav-link text-secondary"
            href="#"
            >Domaines</a
          >
        </li>
        <li>
          <a
            routerLink="/a-propos"
            routerLinkActive="active-link"
            class="nav-link text-secondary"
            href="#"
            >A propos</a
          >
        </li>
        <li class="ms-3 mt-sm-3 mt-md-0 mt-lg-0 mt-xl-0">
          <button
            (click)="go_to_login_page()"
            mat-raised-button
            class="me-2 shadow rounded-pill primary-light-button"
          >
            Connexion
          </button>
          <button
            (click)="go_to_register_page()"
            mat-raised-button
            class="shadow rounded-pill secondary-light-button"
          >
            Inscription
          </button>
        </li>
      </ul>
      <i class="bi mobile-nav-toggle bi-x d-none" (click)="toggle_menu()"></i>
    </div>
    <button
      class="mobile-nav-toggle"
      type="button"
      mat-icon-button
      (click)="toggle_menu()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
