<!-- ==== Header ==== -->
<app-navbar></app-navbar>
<!-- End header -->

<!-- ==== content ==== -->
<main id="main">
  <div class="container mb-5 align-items-center">
    <!-- ==== Image ==== -->

    <div class="col-sm-12 align-content-center mb-2">
      <img
        class="img-fluid rounded-2 mb-3 h-50 w-80"
        src="../../../../assets/images/template.jpg"
        alt=""
      />
    </div>

    <!-- ==== texte et bouton ==== -->

    <div class="col w-100 max-width-100 mb-4">
      <div class="col">
        <h2 class="fs-2 mb-4 fw-semibold">
          {{ coursJson.nom }}
        </h2>
      </div>

      <div class="d-flex mb-4">
        <span
          class="rounded-2 bg-domain-title small text-white p-2 me-3 text-uppercase"
        >
          {{ coursJson.sujets.domaines.nom }}</span
        >

        <span class="rounded-2 bg-secondary small text-white p-2 me-2">
          {{ coursJson.nombreModule }} chapitres</span
        >
      </div>

      <div class="d-flex mb-2">
        <span
          class="material-icons-outlined fs-3"
          style="color: rgb(219, 206, 16)"
        >
          star
        </span>
        <span class="material-icons-outlined fs-3" style="color: yellow">
          star
        </span>
        <span class="material-icons-outlined fs-3" style="color: yellow">
          star
        </span>
        <span class="material-icons-outlined fs-3" style="color: yellow">
          star
        </span>
        <span class="material-icons-outlined fs-3" style="color: yellow">
          star_half
        </span>

        <span class="text-secondary fs-6"
          >({{ coursJson.students.length }} etudiants inscrits)</span
        >
      </div>
    </div>

    <!-- ==== description ==== -->
    <div class="col w-100 max-width-100 mb-3">
      <div class="row mb-4">
        <div class="col-md-3">
          <div
            class="p-3 border-1 border-top border-bottom border-start border-end rounded-3"
          >
            <div class="d-flex mb-2">
              <span class="material-icons-outlined fs-5 me-2"> person </span>
              <span class="text-secondary fs-6"
                >Formateur :
                <u
                  class="text-decoration-underline"
                  style="color: rgb(14, 14, 184)"
                  >{{ coursJson.formateurs.nom }}</u
                ></span
              >
            </div>
            <div class="d-flex mb-2">
              <span class="material-icons-outlined fs-5 me-2"> upgrade </span>
              <span class="text-secondary fs-6"
                >Mis a jour le :
                <u
                  class="text-decoration-underline"
                  style="color: rgb(14, 14, 184)"
                  >{{ datetime.date }}</u
                ></span
              >
            </div>
            <div class="d-flex mb-2">
              <span class="material-icons-outlined fs-5 me-2"> schedule </span>
              <span class="text-secondary fs-6"
                >Duree :
                <u
                  class="text-decoration-underline"
                  style="color: rgb(14, 14, 184)"
                  >{{ coursJson.tempsApprentissage || "jj/mm/aaa" }} Heures</u
                ></span
              >
            </div>
            <div class="d-flex mb-2">
              <span class="material-icons-outlined fs-5 me-2"> language </span>
              <span class="text-secondary fs-6 me-4"
                >Langage :
                <u
                  class="text-decoration-underline"
                  style="color: rgb(14, 14, 184)"
                  >English</u
                ></span
              >
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <h2 class="fs-4 mb-2 fw-semibold">DESCRIPTION</h2>
          <p class="fs-6">
            {{ coursJson.description }}
          </p>
        </div>
      </div>
    </div>

    <!-- ==== chapitres ==== -->

    <div class="col w-100 max-width-100 mb-4">
      <h2 class="fs-4 mb-3 fw-semibold">Chapitres</h2>

      <div
        *ngFor="let c of chapitres"
        class="rounded-3 d-flex flex-row justify-content-between align-items-center p-4 border-1 border-dark-subtile border-top border-bottom border-start border-end mb-3"
      >
        <!-- texte section ============================= -->
        <div class="d-flex flex-column">
          <!-- titre du cours -->
          <span class="fs-4 text-dark text-capitalize fw-semibold mb-1">{{
            c.titre
          }}</span>

          <!-- no chaitre -->
          <span class="">Chapitre {{ c.position }}</span>
        </div>

        <!-- duree section ============================= -->
        <div
          class="rounded-2 border-1 bg-light text-secondary small border-top border-bottom border-start border-end d-flex justify-content-center align-items-center p-2"
        >
          <span class="text-secondary">{{ c.duree }} minutes</span>
        </div>
      </div>
    </div>

    <!-- ==== bouton s'inscrire ==== -->
    <div *ngIf="!hasSubscribe" class="mb-3">
      <button
        (click)="registerToCourse()"
        mat-raised-button
        [disabled]="_loaderService.isLoading"
        class="{{ _loaderService.isLoading ? '' : 'primary-light-button' }}"
      >
        <div class="d-flex align-items-center">
          <!-- loader -->
          <div
            *ngIf="_loaderService.isLoading"
            class="spinner-border spinner-border-sm me-2"
          ></div>
          {{
            _loaderService.isLoading ? "Traitement en cours ..." : "Souscrire"
          }}
        </div>
      </button>
    </div>

    <!-- ==== bouton quitter le cours ==== -->
    <div *ngIf="hasSubscribe" class="mb-3">
      <button
        mat-raised-button
        [disabled]="_loaderService.isLoading"
        class="{{ _loaderService.isLoading ? '' : 'bg-danger text-white' }}"
      >
        <div class="d-flex align-items-center">
          <!-- loader -->
          <div
            *ngIf="_loaderService.isLoading"
            class="spinner-border spinner-border-sm me-2"
          ></div>
          {{
            _loaderService.isLoading
              ? "Traitement en cours ..."
              : "Quitter le cours"
          }}
        </div>
      </button>
    </div>
  </div>
</main>

<!-- End content -->

<!-- ==== footer ==== -->
<app-footer></app-footer>
<!-- End footer -->
