<!-- ==== Header ==== -->
<app-navbar></app-navbar>
<!-- End header -->


<!-- ==== content ==== -->
  <main id="main">

    <div class="container mb-5  align-items-center">

              <!-- ==== Image ==== -->
        
        <div class=" col-sm-12 align-content-center  mb-2 ">
        
            <img
            class="img-fluid rounded-2 mb-3  h-80 w-80"
            src="../../../../assets/images/template.jpg"
            alt=""
          />
        </div>

        <!-- ==== texte et bouton ==== -->

        <div class="col w-100 max-width-100 mb-4">
            <div class="col">
                <h2 class="fs-2 mb-4 fw-semibold">UI/UX Design Courses</h2>
            </div>

           
         <div class="d-flex mb-4">
                    <span class="rounded-2 bg-domain-title small text-white p-2 me-3">
                      INFORMATIQUE</span>
                
                    <span class="rounded-2 bg-secondary small text-white p-2 me-2">
                      12 chapitres</span>
         </div>

            <div class="d-flex mb-2">
                <span class="material-icons-outlined fs-3" style="color: yellow;">
                    star
                    </span>
                    <span class="material-icons-outlined fs-3" style="color: yellow;">
                        star
                        </span>
                        <span class="material-icons-outlined fs-3" style="color: yellow;">
                            star
                            </span>
                            <span class="material-icons-outlined fs-3" style="color: yellow;">
                                star
                                </span>
                                <span class="material-icons-outlined fs-3" style="color: yellow;">
                                    star_half
                                    </span>

                     <span class="text-secondary fs-6">(43,435 etudiants inscrits)</span>
            </div>

        </div>

          <!-- ==== description ==== -->
          <div class="col w-100 max-width-100 mb-5">
          <div class="row mb-3">
            <div class="col-3 me-1 border-2 border-top border-bottom border-start border-end rounded-3">
                <div class="d-flex mb-2">
                    <span class="material-icons-outlined fs-5 me-2">
                        person
                        </span>
                        <span class="text-secondary fs-6 me-4">Formateur : <u class="text-decoration-underline " style="color: rgb(14, 14, 184);">Reena Jacob</u></span>
                 </div>

                 <div class="d-flex mb-2">
                    <span class="material-icons-outlined fs-5 me-2">
                        upgrade
                        </span>
                        <span class="text-secondary fs-6 ">Mis a jour le  : <u class="text-decoration-underline " style="color: rgb(14, 14, 184);">12/12/2022</u></span>
                 </div>

                 <div class="d-flex mb-2">
                    <span class="material-icons-outlined fs-5 me-2">
                        schedule
                        </span>
                        <span class="text-secondary fs-6 ">Duree  : <u class="text-decoration-underline " style="color: rgb(14, 14, 184);">25 minutes</u></span>
                 </div>

                 <div class="d-flex mb-2">
                    <span class="material-icons-outlined fs-5 me-2">
                        language
                        </span>
                        <span class="text-secondary fs-6 me-4">Langage  : <u class="text-decoration-underline " style="color: rgb(14, 14, 184);">English, French</u></span>
                 </div>
            </div>

            <div class="col-8">
                <h2 class="fs-4 mb-2 fw-semibold">DESCRIPTION</h2>
                <p class="fs-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic voluptates nesciunt mollitia reiciendis veniam, esse, magnam incidunt sapiente doloremque temporibus vel iure atque illo voluptatum expedita soluta. Ea, eveniet corporis.</p>
            </div>
          </div>
          </div>

                <!-- ==== chapitres ==== -->

          <div class="col w-100 max-width-100 mb-4">
            <h2 class="fs-4 mb-5 fw-semibold">Chapitres</h2>
            
            <div
            class="rounded-3 d-flex flex-row justify-content-between align-items-center p-4 border-1 border-dark-subtile border-top border-bottom border-start border-end mb-3"
          >
            <!-- texte section ============================= -->
            <div class="d-flex flex-column">
              <!-- titre du cours -->
              <span class="fs-4 text-dark fw-semibold mb-1">UI/UX Designer</span>
          
              <!-- no chaitre -->
              <span class="">Chapitre 01</span>
            </div>
          
            <!-- duree section ============================= -->
            <div
              class="rounded-2 border-1 bg-light text-secondary small border-top border-bottom border-start border-end d-flex justify-content-center align-items-center p-3"
            >
              <span class="text-secondary">12H</span>
            </div>
          </div>

               <div
  class="rounded-3 d-flex flex-row justify-content-between align-items-center p-4 border-1 border-dark-subtile border-top border-bottom border-start border-end mb-3"
>
  <!-- texte section ============================= -->
  <div class="d-flex flex-column">
    <!-- titre du cours -->
    <span class="fs-4 text-dark fw-semibold mb-1">UI/UX Designer</span>

    <!-- no chaitre -->
    <span class="">Chapitre 02</span>
  </div>

  <!-- duree section ============================= -->
  <div
    class="rounded-2 border-1 bg-light text-secondary small border-top border-bottom border-start border-end d-flex justify-content-center align-items-center p-3"
  >
    <span class="text-secondary">12H</span>
  </div>
</div>

               <div
               class="rounded-3 d-flex flex-row justify-content-between align-items-center p-4 border-1 border-dark-subtile border-top border-bottom border-start border-end mb-3"
             >
               <!-- texte section ============================= -->
               <div class="d-flex flex-column">
                 <!-- titre du cours -->
                 <span class="fs-4 text-dark fw-semibold mb-1">UI/UX Designer</span>
             
                 <!-- no chaitre -->
                 <span class="">Chapitre 03</span>
               </div>
             
               <!-- duree section ============================= -->
               <div
                 class="rounded-2 border-1 bg-light text-secondary small border-top border-bottom border-start border-end d-flex justify-content-center align-items-center p-3"
               >
                 <span class="text-secondary">12H</span>
               </div>
             </div>
          </div>

           <!-- ==== bouton s'inscrire ==== -->
           <div class="mb-3 ">
            <button
              mat-raised-button
              class="me-3 shadow  primary-light-button w-40"
            >
              S'inscrire
            </button>
           </div>
    </div>
  </main>

  <!-- End content -->

<!-- ==== footer ==== -->
<app-footer></app-footer>
<!-- End footer -->