<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="row">
    <!-- mobile side bar ===================================================== -->
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">INSTITUTE</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <mat-list>
          <div mat-subheader class="fw-semibold">Espace utilisateur</div>

          <!-- tableau de bord -->
          <button
            class="w-100 d-flex justify-content-start mb-2"
            mat-button
            routerLink="dashboard"
            routerLinkActive="nav-item-active"
          >
            <mat-list-item
              ><mat-icon matListItemIcon>dashboard</mat-icon>
              <div matListItemTitle>Tableau de bord</div></mat-list-item
            >
          </button>

          <!-- en cours -->
          <button
            class="w-100 d-flex justify-content-start mb-2"
            mat-button
            routerLink="unfinished-courses"
            routerLinkActive="nav-item-active"
          >
            <mat-list-item
              ><mat-icon matListItemIcon>search</mat-icon>
              <div matListItemTitle>En cours</div></mat-list-item
            >
          </button>

          <!-- terminer -->
          <button
            class="w-100 d-flex justify-content-start mb-2"
            mat-button
            routerLink="finished-courses"
            routerLinkActive="nav-item-active"
          >
            <mat-list-item
              ><mat-icon matListItemIcon>done</mat-icon>
              <div matListItemTitle>Terminées</div></mat-list-item
            >
          </button>
        </mat-list>

        <!-- evaluation section -->
        <mat-list>
          <div mat-subheader class="fw-semibold">Évaluation</div>

          <!-- Disponible -->
          <button
            class="w-100 d-flex justify-content-start mb-2"
            mat-button
            routerLink="available-evaluation"
            routerLinkActive="nav-item-active"
          >
            <mat-list-item
              ><mat-icon matListItemIcon>library_books</mat-icon>
              <div matListItemTitle>Disponibles</div></mat-list-item
            >
          </button>

          <!-- Avenir -->
          <button
            class="w-100 d-flex justify-content-start mb-2"
            mat-button
            routerLink="finished-evaluation"
            routerLinkActive="nav-item-active"
          >
            <mat-list-item
              ><mat-icon matListItemIcon>done</mat-icon>
              <div matListItemTitle>Terminées</div></mat-list-item
            >
          </button>
        </mat-list>
      </div>
    </div>

    <!-- sidebar web ========================================================= -->
    <div class="col-lg-3 d-none d-lg-block">
      <!-- Espace utilisateur -->
      <mat-list>
        <div mat-subheader class="fw-semibold">Espace utilisateur</div>

        <!-- tableau de bord -->
        <button
          class="w-100 d-flex justify-content-start mb-2"
          mat-button
          routerLink="dashboard"
          routerLinkActive="nav-item-active"
        >
          <mat-list-item
            ><mat-icon matListItemIcon>dashboard</mat-icon>
            <div matListItemTitle>Tableau de bord</div></mat-list-item
          >
        </button>

        <!-- en cours -->
        <button
          class="w-100 d-flex justify-content-start mb-2"
          mat-button
          routerLink="unfinished-courses"
          routerLinkActive="nav-item-active"
        >
          <mat-list-item
            ><mat-icon matListItemIcon>search</mat-icon>
            <div matListItemTitle>En cours</div></mat-list-item
          >
        </button>

        <!-- terminer -->
        <button
          class="w-100 d-flex justify-content-start mb-2"
          mat-button
          routerLink="finished-courses"
          routerLinkActive="nav-item-active"
        >
          <mat-list-item
            ><mat-icon matListItemIcon>done</mat-icon>
            <div matListItemTitle>Terminées</div></mat-list-item
          >
        </button>
      </mat-list>

      <!-- evaluation section -->
      <mat-list>
        <div mat-subheader class="fw-semibold">Évaluation</div>

        <!-- Disponible -->
        <button
          class="w-100 d-flex justify-content-start mb-2"
          mat-button
          routerLink="available-evaluation"
          routerLinkActive="nav-item-active"
        >
          <mat-list-item
            ><mat-icon matListItemIcon>library_books</mat-icon>
            <div matListItemTitle>Disponibles</div></mat-list-item
          >
        </button>

        <!-- Terminées -->
        <button
          class="w-100 d-flex justify-content-start mb-2"
          mat-button
          routerLink="finished-evaluation"
          routerLinkActive="nav-item-active"
        >
          <mat-list-item
            ><mat-icon matListItemIcon>done</mat-icon>
            <div matListItemTitle>Terminées</div></mat-list-item
          >
        </button>
      </mat-list>
    </div>

    <!-- content -->
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
