<!-- ==== Header ==== -->
<app-navbar></app-navbar>
<!-- End header -->

<!-- ==== content ==== -->
<main id="main">
  <!-- hero section -->
  <div class="container mb-5 d-sm-flex align-items-center">
    <div class="w-100 max-width-100 mb-4">
      <!-- text -->
      <div class="mb-4">
        <span class="fs-3 text-dark fw-bold"
          >Trouvez le cours parfais pour vous</span
        >
      </div>
      <!-- Formulaire -->
      <div class="w-100 max-width-100 mb-4">
        <div class="row">
          <div class="col-md-3 mb-4">
            <button
              (click)="rechercher()"
              [disabled]="_loaderService.isLoading"
              mat-raised-button
              style="height: 56px !important"
              class="{{
                _loaderService.isLoading ? 'w-100' : 'primary-dark-button w-100'
              }}"
            >
              Rechercher
            </button>
          </div>
          <!-- domaines -->
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Domaine</mat-label>
              <mat-select
                [(ngModel)]="domainID"
                placeholder="Sélectionner un domaine"
                (valueChange)="onchangeDomain($event)"
              >
                <mat-option
                  *ngFor="let d of _domainService.domaineList"
                  [value]="d.domaineId"
                  >{{ d.nom }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <!-- sujet -->
          <div class="col-md-5">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Sujet</mat-label>
              <mat-select
                [(ngModel)]="sujetID"
                placeholder="Sélectionner un sujet"
              >
                <mat-option
                  *ngFor="let s of sujetListFilter"
                  [value]="s.sujetId"
                  >{{ s.nom }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div
        *ngIf="_loaderService.isLoading"
        class="d-flex justify-content-center"
      >
        <span class="spinner-border text-secondary"></span>
      </div>

      <div *ngIf="!_loaderService.isLoading">
        <!-- course section -->
        <div class="mb-3">
          <div class="row">
            <div *ngFor="let c of coursListFilter" class="col-md-4">
              <app-course-card [course]="c" state="default"></app-course-card>
            </div>
          </div>
        </div>

        <!-- paginator -->
        <mat-paginator
          #paginator
          class="demo-paginator"
          (page)="handlePageEvent($event)"
          [length]="length"
          [pageSize]="pageSize"
          [disabled]="disabled"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
          [hidePageSize]="hidePageSize"
          [pageIndex]="pageIndex"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</main>
<!-- End content -->

<!-- ==== footer ==== -->
<app-footer></app-footer>
<!-- End footer -->
