<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div
      class="col-12 p-5 d-flex flex-column align-items-center justify-content-center bg-blue-light"
    >
      <div class="bg-white p-4 rounded-2 mat-elevation-z3">
        <!-- title section -->
        <div class="mb-4 mt-3 ps-5 pe-5 fw-semibold d-flex flex-column">
          <span class="text-orange fs-4 text-center">Inscrivez-vous</span>
          <span class="text-secondary text-center small">
            et commencez votre parcours d'apprentissage avec nous</span
          >
        </div>

        <!-- switch button section -->
        <div class="d-flex justify-content-center">
          <div
            class="switch-btn rounded-pill bg-primary-light d-flex p-2 w-75 mb-4"
          >
            <button
              routerLink="/login"
              mat-button
              class="me-2 shadow-none rounded-pill primary-light-button flex-fill"
            >
              Connexion
            </button>
            <button
              mat-button
              class="shadow-none rounded-pill secondary-light-button flex-fill"
            >
              Inscription
            </button>
          </div>
        </div>

        <!-- form -->
        <div class="w-100 mw-650 p-3 pt-0">
          <div class="row">
            <!-- genre -->
            <div class="col-md-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Genre</mat-label>
                <mat-select
                  [errorStateMatcher]="matcher"
                  [formControl]="sexeFormControl"
                  [(ngModel)]="sexe"
                >
                  <mat-option value="Femme">Femme</mat-option>
                  <mat-option value="Homme">Homme</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- date naissance -->
            <div class="col-md-12">
              <mat-form-field appearance="outline" class="p-0 w-100">
                <mat-label>Date de naissance</mat-label>
                <input
                  matInput
                  [matDatepicker]="datePicker"
                  placeholder="Selectionner une date"
                  [formControl]="dateFormControl"
                  [errorStateMatcher]="matcher"
                  [(ngModel)]="dateNaissance"
                  [readonly]="true"
                />

                <!-- si une date n'a pas ete selectionnee -->
                <button matSuffix mat-icon-button (click)="datePicker.open()">
                  <mat-icon class="text-secondary">calendar_month</mat-icon>
                </button>

                <mat-datepicker #datePicker [touchUi]="true">
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Annuler</button>
                    <button
                      mat-raised-button
                      color="primary"
                      matDatepickerApply
                    >
                      Valider
                    </button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>

            <!-- nom -->
            <div class="col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nom</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="nomFormControl"
                  [(ngModel)]="nom"
                  placeholder="Prénom"
                />
              </mat-form-field>
            </div>

            <!-- prenom -->
            <div class="col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Prénom</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="prenomFormControl"
                  [(ngModel)]="prenom"
                  placeholder="Prénom"
                />
              </mat-form-field>
            </div>

            <!-- email -->
            <div class="col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="emailFormControl"
                  [(ngModel)]="email"
                  placeholder="Email"
                />
              </mat-form-field>
            </div>

            <!-- mot de passe -->
            <div class="col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="passwordFormControl"
                  [(ngModel)]="password"
                  placeholder="Mot de passe"
                  type="{{ showPassword ? 'text' : 'password' }}"
                />
                <button
                  (click)="toggle_visibility_password()"
                  mat-icon-button
                  matSuffix
                >
                  <mat-icon class="text-secondary">{{
                    showPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <!-- confirmer le mot de passe -->
            <div class="col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Confirmer le mot de passe</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="confirmpasswordFormControl"
                  [(ngModel)]="confirmpassword"
                  placeholder="Mot de passe"
                  type="password"
                />
              </mat-form-field>
            </div>

            <!-- formateur fieldd serction -->
            <mat-checkbox
              color="primary"
              [(ngModel)]="isFormateurChecked"
              class="example-margin mb-3"
              >Je suis formateur</mat-checkbox
            >

            <!-- formateur section -->
            <!-- domaine -->
            <div class="col-md-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sélectionner un domaine</mat-label>
                <mat-select
                  (valueChange)="onChangeDomain()"
                  [disabled]="!isFormateurChecked"
                  [errorStateMatcher]="matcher"
                  [formControl]="domainFormControl"
                  [(ngModel)]="domainID"
                >
                  <mat-option
                    *ngFor="let d of _domainService.domaineList"
                    [value]="d.domaineId"
                    >{{ d.nom }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <!-- button section -->
            <div class="mt-2 text-center">
              <button
                (click)="register()"
                [disabled]="_loaderService.isLoading"
                mat-raised-button
                class="{{
                  _loaderService.isLoading
                    ? 'w-100 mw-400 shadow rounded-pill'
                    : 'shadow rounded-pill secondary-light-button w-100 mw-400'
                }} "
              >
                <div class="d-flex align-items-center">
                  <!-- loader -->
                  <div
                    *ngIf="_loaderService.isLoading"
                    class="spinner-grow spinner-grow-sm me-2"
                  ></div>
                  {{
                    _loaderService.isLoading
                      ? "Inscription en cours ..."
                      : "Inscription"
                  }}
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
