<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div
      class="col-md-6 image-register d-none d-md-flex d-lg-flex d-xl-flex p-0"
    ></div>

    <!-- text -->
    <div
      class="position-absolute d-flex flex-column bottom-0 start-0 ps-5 pb-5 mw-600 w-100"
    >
      <span routerLink="/" class="text-light fs-3 mb-2 fw-semibold"
        >INSTITUTE</span
      >
      <span class="text-light fs-4"
        >Inscrivez-vous et commencez votre parcours d'apprentissage avec
        nous</span
      >
    </div>

    <div
      class="col-md-6 p-5 pt-0 d-flex flex-column align-items-center justify-content-center bg-blue-light"
    >
      <div class="bg-white p-4 rounded-2 mat-elevation-z3">
        <!-- title section -->
        <div class="mb-4 mt-3 ps-5 pe-5 fw-semibold d-flex flex-column">
          <span class="text-orange fs-4 text-center">Inscrivez-vous</span>
          <span class="text-secondary text-center small">
            et commencez votre parcours d'apprentissage avec nous</span
          >
        </div>

        <!-- switch button section -->
        <div class="d-flex justify-content-center">
          <div
            class="switch-btn rounded-pill bg-primary-light d-flex p-2 w-75 mb-4"
          >
            <button
              routerLink="/login"
              mat-button
              class="me-2 shadow-none rounded-pill primary-light-button flex-fill"
            >
              Connexion
            </button>
            <button
              mat-button
              class="shadow-none rounded-pill secondary-light-button flex-fill"
            >
              Inscription
            </button>
          </div>
        </div>

        <!-- subtitle section -->
        <div class="mb-4 text-center">
          <span class="small text-center fw-semibold text-secondary"
            >Ces informations pourront être modifiées plus tard
          </span>
        </div>

        <!-- form -->
        <div class="w-100 mw-650 p-3 pt-0">
          <div class="row">
            <!-- nom -->
            <div class="col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nom</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="nomFormControl"
                  [(ngModel)]="nom"
                  placeholder="Prénom"
                />
              </mat-form-field>
            </div>

            <!-- prenom -->
            <div class="col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Prénom</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="prenomFormControl"
                  [(ngModel)]="prenom"
                  placeholder="Prénom"
                />
              </mat-form-field>
            </div>

            <!-- nom d'utilisateur -->
            <div class="col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="emailFormControl"
                  [(ngModel)]="email"
                  placeholder="Email"
                />
              </mat-form-field>
            </div>

            <!-- mot de passe -->
            <div class="col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="passwordFormControl"
                  [(ngModel)]="password"
                  placeholder="Mot de passe"
                  type="{{ showPassword ? 'text' : 'password' }}"
                />
                <button
                  (click)="toggle_visibility_password()"
                  mat-icon-button
                  matSuffix
                >
                  <mat-icon class="text-secondary">{{
                    showPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <!-- confirmer le mot de passe -->
            <div class="col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Confirmer le mot de passe</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  [formControl]="confirmpasswordFormControl"
                  [(ngModel)]="confirmpassword"
                  placeholder="Mot de passe"
                  type="password"
                />
              </mat-form-field>
            </div>

            <!-- formateur fieldd serction -->
            <mat-checkbox
              [checked]="isFormateurChecked"
              [(ngModel)]="isFormateurChecked"
              class="example-margin"
              >Je suis formateur</mat-checkbox
            >

            <!-- button section -->
            <div class="mt-2 text-center">
              <button
              (click)="register()"
                mat-raised-button
                class="shadow rounded-pill secondary-light-button w-100 mw-400"
              >
                Inscription
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
