.switch-btn {
    max-width: 490px;
}

.w-80 {
    width: 80%;
}

.mw-400 {
    max-width: 400px;
}

.mw-600 {
    max-width: 500px;
}

.mw-650 {
    max-width: 650px;
}

.text-orange {
    color: var(--primary-light-color) !important;
}